<!-- header.html -->
<header class="header">
	<div class="container">
		<div class="header-flex">
			<div class="header-left">
				<a class="header-logo">
					<img src="img/logo.svg" alt="" class="header-logo-img">
				</a>
			</div>
			<div class="header-right">
				<div class="header-right-mail mail">
					<p class="header-right-text">Написать нам:</p>
					<a href="mailto:reception@energo-stroy.org" class="mail-link">reception@energo-stroy.org</a>
				</div>
				<div class="header-right-phone phone">
					<p class="header-right-text">Позвонить нам:</p>
					<a href="tel:+74959847750" class="phone-link">+7 495 984 77 50 </a>
				</div>
			</div>
		</div>
	</div>
	<div class="header-btn">
		<span class="header-btn-line header-btn-line_top"></span>
		<span class="header-btn-line header-btn-line_center"></span>
		<span class="header-btn-line header-btn-line_bottom"></span>
	</div>
	<div class="header-menu">
		<nav class="nav-header-menu-nav">
			<ul class="header-menu-list">
				<li class="header-menu-item">
					<a href="" class="header-menu-link">О компании</a>
				</li>
				<li class="header-menu-item">
					<a href="" class="header-menu-link">деятельность</a>
				</li>
				<li class="header-menu-item">
					<a href="" class="header-menu-link">проекты</a>
				</li>
				<li class="header-menu-item">
					<a href="" class="header-menu-link">Партнеры</a>
				</li>
				<li class="header-menu-item">
					<a href="" class="header-menu-link">Сертификаты</a>
				</li>
				<li class="header-menu-item">
					<a href="" class="header-menu-link">Новости</a>
				</li>
				<li class="header-menu-item">
					<a href="" class="header-menu-link">Контакты</a>
				</li>
			</ul>
		</nav>
		<div class="header-menu-contact">
			<div class="header-right-mail mail">
				<p class="header-right-text">Написать нам:</p>
				<a href="mailto:reception@energo-stroy.org" class="mail-link">reception@energo-stroy.org</a>
			</div>
			<div class="header-right-phone phone">
				<p class="header-right-text">Позвонить нам:</p>
				<a href="tel:+74959847750" class="phone-link">+7 495 984 77 50 </a>
			</div>
		</div>
	</div>
</header>