<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Energostroy</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	@import "header.html"
	@import "menu.html"
	<section class="about about-first">
		<div class="container">
			<div class="main-about-flex">
				<h2 class="main-subtitle">О компании</h2>
				<p class="main-about-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
			</div>
		</div>
		<div class="about-first-img"></div>
		<div class="container">
			<p class="about-first-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
		</div>
	</section>
	<section class="about about-second">
		<div class="container">
			<h2 class="main-subtitle main-subtitle_center">Коротко об Энергострой</h2>
			<p class="about-second-description">c 2010 на российском рынке</p>
			<div class="about-second-list">
				<div class="about-second-item">
					<img src="img/about1.svg" alt="" class="about-second-img" width="39px">
					<div class="about-second-item-info">
						<p class="about-second-item-number">20</p>
						<p class="about-second-item-text">регионов РФ</p>
					</div>
				</div>
				<div class="about-second-item">
					<img src="img/about2.svg" alt="" class="about-second-img about-second-img_rotate" width="44px">
					<div class="about-second-item-info">
						<p class="about-second-item-number">169</p>
						<p class="about-second-item-text">готовых проектов</p>
					</div>
				</div>
				<div class="about-second-item">
					<img src="img/about3.svg" alt="" class="about-second-img" width="44px">
					<div class="about-second-item-info">
						<p class="about-second-item-number">349</p>
						<p class="about-second-item-text">проложенных труб</p>
					</div>
				</div>
				<div class="about-second-item">
					<img src="img/about4.svg" alt="" class="about-second-img" width="50px">
					<div class="about-second-item-info">
						<p class="about-second-item-number">1052</p>
						<p class="about-second-item-text">установленных насоса</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about about-third">
		<div class="container">
			<h2 class="main-subtitle main-subtitle_center">Энергострой - это</h2>
			<div class="about-third-container">
				<div class="about-third-row">
					<div class="about-third-left">
						<img src="img/about-img1.jpg" alt="" class="about-third-img">
					</div>
					<div class="about-third-right">
						<h6 class="about-third-title">Высокое качество работ</h6>
						<p class="about-third-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
						<a href="" class="about-third-link">Посмотреть Проекты</a>
					</div>
				</div>
				<div class="about-third-row about-third-row_reverse">
					<div class="about-third-left about-third-left_reverse">
						<img src="img/about-img2.jpg" alt="" class="about-third-img">
					</div>
					<div class="about-third-right about-third-right_reverse">
						<h6 class="about-third-title">Необходимые допуски</h6>
						<p class="about-third-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
						<a href="" class="about-third-link">Посмотреть Сертификаты</a>
					</div>
				</div>
				<div class="about-third-row">
					<div class="about-third-left">
						<img src="img/about-img3.jpg" alt="" class="about-third-img">
					</div>
					<div class="about-third-right">
						<h6 class="about-third-title">Квалифицированные специалисты</h6>
						<p class="about-third-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
						<a href="" class="about-third-link">Больше об опыте наших сотрудников</a>
					</div>
				</div>
				<div class="about-third-row about-third-row_reverse">
					<div class="about-third-left about-third-left_reverse">
						<img src="img/about-img4.jpg" alt="" class="about-third-img">
					</div>
					<div class="about-third-right about-third-right_reverse">
						<h6 class="about-third-title">Комплексный подход</h6>
						<p class="about-third-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
						<a href="" class="about-third-link">Направление Деятельности</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about about-fourth">
		<div class="container">
			<div class="about-fourth-block">
				<p class="about-fourth-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
			</div>
		</div>
	</section>
	<section class="about about-fifth">
		<div class="container">
			<h2 class="main-subtitle main-subtitle_center">Наши компетенции</h2>
			<div class="about-fifth-list">
				<div class="about-fifth-item">
					<h6 class="about-fifth-title">Разработка</h6>
					<p class="about-fifth-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				</div>
				<div class="about-fifth-item">
					<h6 class="about-fifth-title">Аудит</h6>
					<p class="about-fifth-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				</div>
				<div class="about-fifth-item">
					<h6 class="about-fifth-title">Логистика</h6>
					<p class="about-fifth-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				</div>
				<div class="about-fifth-item">
					<h6 class="about-fifth-title">Стройка</h6>
					<p class="about-fifth-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				</div>
				<div class="about-fifth-item">
					<h6 class="about-fifth-title">Менеджмент проекта</h6>
					<p class="about-fifth-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				</div>
				<div class="about-fifth-item">
					<h6 class="about-fifth-title">ПНР</h6>
					<p class="about-fifth-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				</div>
				<div class="about-fifth-item">
					<h6 class="about-fifth-title">Гарантия</h6>
					<p class="about-fifth-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
				</div>
				<div class="about-fifth-item">
					<h6 class="about-fifth-title">Сервис</h6>
					<p class="about-fifth-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet.</p>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
