<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Energostroy</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	@import "header.html"
	@import "menu.html"
	<section class="build">
		<div class="container">
			<div class="main-about-flex">
				<h2 class="main-subtitle">Строительство</h2>
			</div>
		</div>
		<div class="about-first-img about-first-img_build"></div>
	</section>
	<section class="build-content">
		<div class="container">
			<div class="about-third-container">
				<div class="about-third-row">
					<div class="about-third-left">
						<img src="img/about-img1.jpg" alt="" class="about-third-img">
					</div>
					<div class="about-third-right">
						<h6 class="about-third-title">Организация и проведение<br> строительных работ</h6>
						<p class="about-third-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
					</div>
				</div>
				<div class="about-third-row about-third-row_reverse">
					<div class="about-third-left about-third-left_reverse">
						<img src="img/about-img2.jpg" alt="" class="about-third-img">
					</div>
					<div class="about-third-right about-third-right_reverse">
						<h6 class="about-third-title">Ввод объектов в эксплуатацию</h6>
						<p class="about-third-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
					</div>
				</div>
				<div class="about-third-row">
					<div class="about-third-left">
						<img src="img/about-img3.jpg" alt="" class="about-third-img">
					</div>
					<div class="about-third-right">
						<h6 class="about-third-title">Гарантийное и послегарантийное обслуживание</h6>
						<p class="about-third-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
