<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Energostroy</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	@import "header.html"
	@import "menu.html"
	<section class="contacts">
		<div class="container">
			<div class="contacts-flex">
				<div class="contacts-left">
					<h2 class="main-subtitle main-subtitle_nomarg">Контакты</h2>
					<div class="contacts-left-block">
						<div class="footer-contact-row footer-contact-row_sm">
							<img src="img/phone.svg" alt="" class="footer-contact-img">
							<a href="tel:+74959847750" class="footer-contact-phone footer-contact-phone_dark">+7 495 984 77 50 </a>
						</div>
						<div class="footer-contact-row footer-contact-row_sm">
							<img src="img/mail.svg" alt="" class="footer-contact-img">
							<a href="mailto:reception@energo-stroy.org" class="footer-contact-mail footer-contact-mail_dark">reception@energo-stroy.org</a>
						</div>
						<div class="footer-contact-row footer-contact-row_sm">
							<img src="img/pin.svg" alt="" class="footer-contact-img">
							<p class="footer-contact-text footer-contact-text_dark">Москва, Кутузовский пр-т, д.36, стр.23</p>
						</div>
						<div class="contacts-map" id="map"></div>
					</div>
				</div>
				<div class="contacts-right">
					<h2 class="main-subtitle main-subtitle_nomarg">Напишите нам</h2>
					<form action="" class="contacts-form">
						<input type="text" class="contacts-form-input" placeholder="Ваше Имя*" required>
						<input type="email" class="contacts-form-input" placeholder="Ваш Email*" required>
						<textarea class="contacts-form-textarea" placeholder="Текст сообщения..."></textarea>
						<label class="contacts-form-label">
							<input type="checkbox" class="contacts-form-checkbox" required>
							<span class="contacts-form-check"></span>
							<span class="contacts-form-text">Принимаю условия пользовательского соглашения</span>
						</label>
						<button type="submit" class="contacts-form-btn">Отправить</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script src="js/map.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
