<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Energostroy</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	@import "header.html"
	@import "menu.html"
	<section class="direction">
		<div class="container">
			<div class="main-about-flex">
				<h2 class="main-subtitle">Направления деятельности</h2>
				<p class="main-about-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
			</div>
			<div class="direction-list">
				<a href="" class="direction-item direction-item_first">
					<span class="direction-item-content">
						<h6 class="direction-title">Строительство</h6>
						<p class="direction-description">Lorem ipsum dolor sit amet</p>
						<svg class="direction-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 86 26" style="enable-background:new 0 0 86 26;" xml:space="preserve">
							<style type="text/css">
								.st0{clip-path:url(#SVGID_2_);}
							</style>
													<g>
								<defs>
									<polygon id="SVGID_1_" points="69.3,4.2 75.6,10.5 0.3,10.5 0.3,15.5 75.6,15.5 69.3,21.8 72.8,25.4 85.2,13 72.8,0.6 		"/>
								</defs>
														<clipPath id="SVGID_2_">
									<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
								</clipPath>
														<rect fill="#ffffff" x="-4.7" y="-4.4" class="st0" width="94.9" height="34.7"/>
							</g>
						</svg>
					</span>
				</a>
				<a href="" class="direction-item direction-item_second">
					<span class="direction-item-content">
						<h6 class="direction-title">Проектирование</h6>
						<p class="direction-description">Lorem ipsum dolor sit amet</p>
						<svg class="direction-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 86 26" style="enable-background:new 0 0 86 26;" xml:space="preserve">
							<style type="text/css">
								.st0{clip-path:url(#SVGID_2_);}
							</style>
							<g>
								<defs>
									<polygon id="SVGID_1_" points="69.3,4.2 75.6,10.5 0.3,10.5 0.3,15.5 75.6,15.5 69.3,21.8 72.8,25.4 85.2,13 72.8,0.6 		"/>
								</defs>
								<clipPath id="SVGID_2_">
									<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
								</clipPath>
								<rect fill="#ffffff" x="-4.7" y="-4.4" class="st0" width="94.9" height="34.7"/>
							</g>
						</svg>
					</span>
				</a>
				<a href="" class="direction-item direction-item_third">
					<span class="direction-item-content">
						<h6 class="direction-title">Строительство</h6>
						<p class="direction-description">Lorem ipsum dolor sit amet</p>
						<svg class="direction-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 86 26" style="enable-background:new 0 0 86 26;" xml:space="preserve">
							<style type="text/css">
								.st0{clip-path:url(#SVGID_2_);}
							</style>
							<g>
								<defs>
									<polygon id="SVGID_1_" points="69.3,4.2 75.6,10.5 0.3,10.5 0.3,15.5 75.6,15.5 69.3,21.8 72.8,25.4 85.2,13 72.8,0.6 		"/>
								</defs>
								<clipPath id="SVGID_2_">
									<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
								</clipPath>
								<rect fill="#ffffff" x="-4.7" y="-4.4" class="st0" width="94.9" height="34.7"/>
							</g>
						</svg>
					</span>
				</a>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
