<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Energostroy</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	@import "header.html"
	@import "menu.html"
	<section class="employees">
		<div class="container">
			<div class="main-about-flex">
				<h2 class="main-subtitle">Сотрудники</h2>
				<p class="main-about-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
			</div>
			<div class="employees-list">
				<div class="employees-item">
					<div class="employees-item-block">
						<img src="img/employees1.jpg" alt="" class="employees-img">
					</div>
					<div class="employees-block">
						<p class="employees-text">в разработке проектно-сметной документации</p>
					</div>
					<div class="employees-popup">
						<div class="employees-popup-block">
							<img src="img/employees-popup1.jpg" alt="" class="employees-popup-img">
							<div class="employees-popup-content">
								<h4 class="employees-popup-title">В разработке проектно-сметной документации</h4>
								<ul class="employees-popup-list">
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								</ul>
							</div>
							<div class="employees-popup-close"></div>
						</div>
					</div>
				</div>
				<div class="employees-item">
					<div class="employees-item-block">
						<img src="img/employees2.jpg" alt="" class="employees-img">
					</div>
					<div class="employees-block">
						<p class="employees-text">в дорожной инфраструктуре</p>
					</div>
					<div class="employees-popup">
						<div class="employees-popup-block">
							<img src="img/employees-popup1.jpg" alt="" class="employees-popup-img">
							<div class="employees-popup-content">
								<h4 class="employees-popup-title">В разработке проектно-сметной документации</h4>
								<ul class="employees-popup-list">
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								</ul>
							</div>
							<div class="employees-popup-close"></div>
						</div>
					</div>
				</div>
				<div class="employees-item">
					<div class="employees-item-block">
						<img src="img/employees3.jpg" alt="" class="employees-img">
					</div>
					<div class="employees-block">
						<p class="employees-text">в сфере ЖКХ</p>
					</div>
					<div class="employees-popup">
						<div class="employees-popup-block">
							<img src="img/employees-popup1.jpg" alt="" class="employees-popup-img">
							<div class="employees-popup-content">
								<h4 class="employees-popup-title">В разработке проектно-сметной документации</h4>
								<ul class="employees-popup-list">
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								</ul>
							</div>
							<div class="employees-popup-close"></div>
						</div>
					</div>
				</div>
				<div class="employees-item">
					<div class="employees-item-block">
						<img src="img/employees4.jpg" alt="" class="employees-img">
					</div>
					<div class="employees-block">
						<p class="employees-text">в промышленной сфере</p>
					</div>
					<div class="employees-popup">
						<div class="employees-popup-block">
							<img src="img/employees-popup1.jpg" alt="" class="employees-popup-img">
							<div class="employees-popup-content">
								<h4 class="employees-popup-title">В разработке проектно-сметной документации</h4>
								<ul class="employees-popup-list">
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								</ul>
							</div>
							<div class="employees-popup-close"></div>
						</div>
					</div>
				</div>
				<div class="employees-item">
					<div class="employees-item-block">
						<img src="img/employees5.jpg" alt="" class="employees-img">
					</div>
					<div class="employees-block">
						<p class="employees-text">в авторском надзоре</p>
					</div>
					<div class="employees-popup">
						<div class="employees-popup-block">
							<img src="img/employees-popup1.jpg" alt="" class="employees-popup-img">
							<div class="employees-popup-content">
								<h4 class="employees-popup-title">В разработке проектно-сметной документации</h4>
								<ul class="employees-popup-list">
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</li>
									<li class="employees-popup-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								</ul>
							</div>
							<div class="employees-popup-close"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
