<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Energostroy</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	@import "header.html"
	@import "menu.html"
	<section class="main main-first">
		<div class="container">
			<h1 class="main-title">Мы строим будущее</h1>
			<ul class="main-list">
					<li class="main-item main-item_first">
						<a href="" class="main-link">
							<h6 class="main-item-title">Строительство</h6>
							<p class="main-item-text">Lorem ipsum dolor sit amet</p>
							<img src="img/arrow-next.svg" alt="" class="main-item-img">
							<img src="img/1.svg" alt="" class="main-item-svg main-item-svg_first">
						</a>
					</li>
					<li class="main-item main-item_second">
						<a href="" class="main-link">
							<h6 class="main-item-title">Проектирование</h6>
							<p class="main-item-text">Lorem ipsum dolor sit amet</p>
							<img src="img/arrow-next.svg" alt="" class="main-item-img">
							<img src="img/2.svg" alt="" class="main-item-svg main-item-svg_second">
						</a>
					</li>
					<li class="main-item main-item_second">
						<a href="" class="main-link">
							<h6 class="main-item-title">Технологии и поставка оборудования</h6>
							<p class="main-item-text">Lorem ipsum dolor sit amet</p>
							<img src="img/arrow-next.svg" alt="" class="main-item-img">
							<img src="img/3.svg" alt="" class="main-item-svg main-item-svg_third">
						</a>
					</li>
				</ul>
		</div>
	</section>
	<section class="main main-about">
		<div class="container">
			<div class="main-about-flex">
				<h2 class="main-subtitle">О компании</h2>
				<p class="main-about-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
			</div>
			<div class="main-about-list">
				<div class="main-about-item">
					<div class="main-about-item-block">
						<img src="img/fetures1.svg" alt="" class="main-about-img" width="29px">
					</div>
					<p class="main-about-item-text">Качество работ на уровне мировых стандартов, проекты под ключ</p>
				</div>
				<div class="main-about-item">
					<div class="main-about-item-block">
						<img src="img/fetures2.svg" alt="" class="main-about-img" width="41px">
					</div>
					<p class="main-about-item-text">Все необходимые допуски СРО, сертификаты и лицензии</p>
				</div>
				<div class="main-about-item">
					<div class="main-about-item-block">
						<img src="img/fetures3.svg" alt="" class="main-about-img" width="36px">
					</div>
					<p class="main-about-item-text">Высоко- квалифицированные опытные сотрудники</p>
				</div>
				<div class="main-about-item">
					<div class="main-about-item-block">
						<img src="img/fetures4.svg" alt="" class="main-about-img" width="36px">
					</div>
					<p class="main-about-item-text">с 2010 года <br>на рынке РФ</p>
				</div>
			</div>
		</div>
	</section>
	<section class="main main-certificate">
		<div class="container">
			<h2 class="main-subtitle">Cертификаты</h2>
			<div class="main-certificate-list">
				<div class="main-certificate-item">
					<img src="img/certificate.jpg" alt="" class="main-certificate-img">
				</div>
				<div class="main-certificate-item">
					<img src="img/certificate.jpg" alt="" class="main-certificate-img">
				</div>
				<div class="main-certificate-item">
					<img src="img/certificate.jpg" alt="" class="main-certificate-img">
				</div>
				<div class="main-certificate-item">
					<img src="img/certificate.jpg" alt="" class="main-certificate-img">
				</div>
			</div>
		</div>
	</section>
	<section class="main main-partner">
		<div class="container">
			<div class="main-partner-slider">
				<div class="main-partner-item">
					<div class="main-partner-flex">
						<img src="img/partner1.png" alt="" class="main-partner-img" width="130px">
					</div>
				</div>
				<div class="main-partner-item">
					<div class="main-partner-flex">
						<img src="img/partner2.png" alt="" class="main-partner-img" width="128px">
						<p class="main-partner-text">эксклюзивный<br> поставщик</p>
					</div>
				</div>
				<div class="main-partner-item">
					<div class="main-partner-flex">
						<img src="img/partner3.png" alt="" class="main-partner-img" width="130px">
					</div>
				</div>
				<div class="main-partner-item">
					<div class="main-partner-flex">
						<img src="img/partner4.png" alt="" class="main-partner-img" width="130px">
					</div>
				</div>
				<div class="main-partner-item">
					<div class="main-partner-flex">
						<img src="img/partner5.png" alt="" class="main-partner-img" width="108px">
						<p class="main-partner-text">эксклюзивный<br> поставщик</p>
					</div>
				</div>
				<div class="main-partner-item">
					<div class="main-partner-flex">
						<img src="img/partner6.png" alt="" class="main-partner-img" width="60px">
					</div>
				</div>
				<div class="main-partner-item">
					<div class="main-partner-flex">
						<img src="img/partner7.png" alt="" class="main-partner-img" width="130px">
					</div>
				</div>
				<div class="main-partner-item">
					<div class="main-partner-flex">
						<img src="img/partner7.png" alt="" class="main-partner-img" width="130px">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="main main-project">
		<div class="container">
			<h2 class="main-subtitle">Наши проекты</h2>
			<ul class="main-project-list">
				<li class="main-project-item">Kuhlmanbury</li>
				<li class="main-project-item">West Sylvester</li>
				<li class="main-project-item">Kadenfort</li>
				<li class="main-project-item">Jillianshire</li>
				<li class="main-project-item">New Kaitlyn</li>
				<li class="main-project-item">Jamirberg</li>
				<li class="main-project-item">West Chayashire</li>
				<li class="main-project-item">Port Bernieceside</li>
				<li class="main-project-item">East Abdullah</li>
				<li class="main-project-item">Lisaview</li>
				<li class="main-project-item">Tatyanastad</li>
				<li class="main-project-item">East Aliyah</li>
				<li class="main-project-item">Antwanbury</li>
				<li class="main-project-item">North Miles</li>
				<li class="main-project-item">Lake Shanon</li>
				<li class="main-project-item">Bauchbury</li>
				<li class="main-project-item">Alexanderport</li>
				<li class="main-project-item">North Rashad</li>
				<li class="main-project-item">South Brendonburgh</li>
				<li class="main-project-item">North Catalina</li>
				<li class="main-project-item">Clovisfort</li>
				<li class="main-project-item">South Ebba</li>
				<li class="main-project-item">Bayleestad</li>
				<li class="main-project-item">Margeland</li>
			</ul>
			<div class="main-project-map">
				<img src="img/map.png" alt="" class="main-project-img">
				<div class="main-project-pin pin pin_first">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_second">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_third">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_fourth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_fifth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_sixth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_seventh">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_eight">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_ninth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_tenth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_eleventh">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_twelfth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_thirteenth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_fourteenth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_fifteenth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_sixteenth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_seventeenth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_eighteenth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_nineteenth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_twentieth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_twentyfirst">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_twentysecond">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_twentythird">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_twentyfourth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_twentyfifth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_twentysixth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_twentyseventh">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_twentyeight">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_twentyninth">
					<div class="pin-circle"></div>
				</div>
				<div class="main-project-pin pin pin_thirty">
					<div class="pin-circle"></div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
