<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Energostroy</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	@import "header.html"
	@import "menu.html"
	<section class="news">
		<div class="container">
			<div class="main-about-flex main-about-flex_news">
				<h2 class="main-subtitle">Новости</h2>
				<ul class="news-filter">
					<li class="news-filter-item">
						<a href="" class="news-filter-link active">Все материалы</a>
					</li>
					<li class="news-filter-item">
						<a href="" class="news-filter-link">Новости</a>
					</li>
					<li class="news-filter-item">
						<a href="" class="news-filter-link">Публикации</a>
					</li>
					<li class="news-filter-item">
						<a href="" class="news-filter-link">Статьи</a>
					</li>
					<li class="news-filter-item">
						<a href="" class="news-filter-link">
							<svg class="news-filter-img" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 90 91" style="enable-background:new 0 0 90 91;" xml:space="preserve">
								<style type="text/css">
									.scircle{fill:none;}
								</style>
								<g>
									<path class="scircle" d="M37.5,12.7c-13.8,0-25,11.4-25,25.4s11.2,25.4,25,25.4s25-11.4,25-25.4C62.6,24,51.4,12.7,37.5,12.7z"/>
																	<path class="search" d="M88.1,79.2L68.6,59.4c4-6.1,6.4-13.4,6.4-21.3C75,17,58.2,0,37.5,0S0,17,0,38.1c0,21,16.8,38,37.5,38.1
										c8.5,0,16.2-2.8,22.5-7.6l19.3,19.6c2.4,2.5,6.4,2.5,8.8,0C90.5,85.7,90.5,81.7,88.1,79.2z M37.5,63.5c-13.8,0-25-11.4-25-25.4
										s11.2-25.4,25-25.4c13.9,0,25.1,11.3,25,25.4C62.5,52.1,51.3,63.5,37.5,63.5z"/>
								</g>
							</svg>
						</a>
					</li>
				</ul>
			</div>
			<div class="news-content">
				<div class="news-list">
					<a href="" class="news-item">
						<img src="img/news1.jpg" alt="" class="news-img">
						<div class="news-item-block">
							<p class="news-date">13 May 2018</p>
							<h6 class="news-title">Choose The Perfect Accommodations</h6>
							<p class="news-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						</div>
					</a>
					<a href="" class="news-item">
						<img src="img/news2.jpg" alt="" class="news-img">
						<div class="news-item-block">
							<p class="news-date">13 May 2018</p>
							<h6 class="news-title">Choose The Perfect Accommodations</h6>
							<p class="news-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						</div>
					</a>
					<a href="" class="news-item">
						<img src="img/news3.jpg" alt="" class="news-img">
						<div class="news-item-block">
							<p class="news-date">13 May 2018</p>
							<h6 class="news-title">Choose The Perfect Accommodations</h6>
							<p class="news-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						</div>
					</a>
					<a href="" class="news-item">
						<img src="img/news1.jpg" alt="" class="news-img">
						<div class="news-item-block">
							<p class="news-date">13 May 2018</p>
							<h6 class="news-title">Choose The Perfect Accommodations</h6>
							<p class="news-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						</div>
					</a>
					<a href="" class="news-item">
						<img src="img/news2.jpg" alt="" class="news-img">
						<div class="news-item-block">
							<p class="news-date">13 May 2018</p>
							<h6 class="news-title">Choose The Perfect Accommodations</h6>
							<p class="news-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						</div>
					</a>
					<a href="" class="news-item">
						<img src="img/news3.jpg" alt="" class="news-img">
						<div class="news-item-block">
							<p class="news-date">13 May 2018</p>
							<h6 class="news-title">Choose The Perfect Accommodations</h6>
							<p class="news-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						</div>
					</a>
				</div>
				<div class="news-pages">
					<a href="" class="news-pages-back news-pages-item">
						<svg class="news-pages-svg news-pages-svg_back" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 86 26" style="enable-background:new 0 0 86 26;" xml:space="preserve">
							<style type="text/css">
								.st0{clip-path:url(#SVGID_2_);}
							</style>
														<g>
								<defs>
									<polygon id="SVGID_1_" points="69.3,4.2 75.6,10.5 0.3,10.5 0.3,15.5 75.6,15.5 69.3,21.8 72.8,25.4 85.2,13 72.8,0.6 		"/>
								</defs>
															<clipPath id="SVGID_2_">
									<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
								</clipPath>
															<rect fill="#8b8d96" x="-4.7" y="-4.4" class="st0" width="94.9" height="34.7"/>
							</g>
						</svg>
					</a>
					<a href="" class="news-pages-item active">1</a>
					<a href="" class="news-pages-item">2</a>
					<a href="" class="news-pages-item">3</a>
					<a href="" class="news-pages-item">4</a>
					<a href="" class="news-pages-item">5</a>
					<a href="" class="news-pages-item">...</a>
					<a href="" class="news-pages-next news-pages-item">
						<svg class="news-pages-svg news-pages-svg_next" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 86 26" style="enable-background:new 0 0 86 26;" xml:space="preserve">
							<style type="text/css">
								.st0{clip-path:url(#SVGID_2_);}
							</style>
							<g>
								<defs>
									<polygon id="SVGID_1_" points="69.3,4.2 75.6,10.5 0.3,10.5 0.3,15.5 75.6,15.5 69.3,21.8 72.8,25.4 85.2,13 72.8,0.6 		"/>
								</defs>
								<clipPath id="SVGID_2_">
									<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
								</clipPath>
								<rect fill="#8b8d96" x="-4.7" y="-4.4" class="st0" width="94.9" height="34.7"/>
							</g>
						</svg>
					</a>
				</div>
			</div>
		</div>
		<div class="news-popup">
			<div class="news-popup-container">
				<img src="img/news-popup1.jpg" alt="" class="news-popup-img">
				<div class="news-popup-block">
					<h6 class="news-popup-title">Coventry City Guide Including Coventry Hotels</h6>
					<p class="news-popup-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
					<p class="news-popup-text">Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue</p>
					<div class="news-popup-btns">
						<a href="" class="news-popup-btn news-popup-btn_prev">
							<svg class="news-popup-svg news-popup-svg_back" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 86 26" style="enable-background:new 0 0 86 26;" xml:space="preserve">
								<style type="text/css">
									.st0{clip-path:url(#SVGID_2_);}
								</style>
									<g>
									<defs>
										<polygon id="SVGID_1_" points="69.3,4.2 75.6,10.5 0.3,10.5 0.3,15.5 75.6,15.5 69.3,21.8 72.8,25.4 85.2,13 72.8,0.6 		"/>
									</defs>
										<clipPath id="SVGID_2_">
										<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
									</clipPath>
										<rect fill="#c5c6ca" x="-4.7" y="-4.4" class="st0" width="94.9" height="34.7"/>
								</g>
							</svg>
						</a>
						<a href="" class="news-popup-btn news-popup-btn_next">
							<svg class="news-popup-svg news-popup-svg_next" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 86 26" style="enable-background:new 0 0 86 26;" xml:space="preserve">
								<style type="text/css">
									.st0{clip-path:url(#SVGID_2_);}
								</style>
								<g>
									<defs>
										<polygon id="SVGID_1_" points="69.3,4.2 75.6,10.5 0.3,10.5 0.3,15.5 75.6,15.5 69.3,21.8 72.8,25.4 85.2,13 72.8,0.6 		"/>
									</defs>
									<clipPath id="SVGID_2_">
										<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
									</clipPath>
									<rect fill="#c5c6ca" x="-4.7" y="-4.4" class="st0" width="94.9" height="34.7"/>
								</g>
							</svg>
						</a>
					</div>
				</div>
				<div class="employees-popup-close"></div>
			</div>
		</div>
	</section>

	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
