<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Energostroy</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>

	@import "header.html"
	@import "menu.html"
	<section class="partners">
		<div class="container">
			<div class="main-about-flex">
				<h2 class="main-subtitle">Партнеры</h2>
			</div>
			<div class="partners-list">
				<div class="partners-item">
					<div class="partners-left">
						<img src="img/partner1.png" alt="" class="partners-img">
					</div>
					<div class="partners-right">
						<h4 class="partners-right-title">Grundfous</h4>
						<p class="partners-right-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
						<a href="" class="partners-right-link">Области применения <img src="img/arrow.svg" alt="" class="partners-right-arrow"></a>
						<div class="partners-info">
							<h6 class="partners-info-title">Области применения</h6>
							<ul class="partners-info-list">
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Aenean massa. Cum sociis natoque penatibus et magnis dis</li>
								<li class="partners-info-item">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
							</ul>
							<div class="partners-info-close"></div>
						</div>
					</div>
				</div>
				<div class="partners-item">
					<div class="partners-left">
						<img src="img/partner2.png" alt="" class="partners-img">
					</div>
					<div class="partners-right">
						<h4 class="partners-right-title">Xylem</h4>
						<p class="partners-right-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
						<a href="" class="partners-right-link">Области применения <img src="img/arrow.svg" alt="" class="partners-right-arrow"></a>
						<div class="partners-info">
							<h6 class="partners-info-title">Области применения</h6>
							<ul class="partners-info-list">
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Aenean massa. Cum sociis natoque penatibus et magnis dis</li>
								<li class="partners-info-item">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
							</ul>
							<div class="partners-info-close"></div>
						</div>
					</div>
				</div>
				<div class="partners-item">
					<div class="partners-left">
						<img src="img/partner3.png" alt="" class="partners-img">
					</div>
					<div class="partners-right">
						<h4 class="partners-right-title">Schneider</h4>
						<p class="partners-right-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
						<a href="" class="partners-right-link">Области применения <img src="img/arrow.svg" alt="" class="partners-right-arrow"></a>
						<div class="partners-info">
							<h6 class="partners-info-title">Области применения</h6>
							<ul class="partners-info-list">
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Aenean massa. Cum sociis natoque penatibus et magnis dis</li>
								<li class="partners-info-item">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
							</ul>
							<div class="partners-info-close"></div>
						</div>
					</div>
				</div>
				<div class="partners-item">
					<div class="partners-left">
						<img src="img/partner4.png" alt="" class="partners-img">
					</div>
					<div class="partners-right">
						<h4 class="partners-right-title">VAG</h4>
						<p class="partners-right-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
						<a href="" class="partners-right-link">Области применения <img src="img/arrow.svg" alt="" class="partners-right-arrow"></a>
						<div class="partners-info">
							<h6 class="partners-info-title">Области применения</h6>
							<ul class="partners-info-list">
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Aenean massa. Cum sociis natoque penatibus et magnis dis</li>
								<li class="partners-info-item">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
							</ul>
							<div class="partners-info-close"></div>
						</div>
					</div>
				</div>
				<div class="partners-item">
					<div class="partners-left">
						<img src="img/partner5.png" alt="" class="partners-img">
					</div>
					<div class="partners-right">
						<h4 class="partners-right-title">ГидроПромСтрой</h4>
						<p class="partners-right-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
						<a href="" class="partners-right-link">Области применения <img src="img/arrow.svg" alt="" class="partners-right-arrow"></a>
						<div class="partners-info">
							<h6 class="partners-info-title">Области применения</h6>
							<ul class="partners-info-list">
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Aenean massa. Cum sociis natoque penatibus et magnis dis</li>
								<li class="partners-info-item">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
								<li class="partners-info-item">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
							</ul>
							<div class="partners-info-close"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	@import "footer.html"

	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>
